body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Black background */
    color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #111;
    border-bottom: 2px solid #ff007f;
}

h1 {
    color: #0bacf1;
    font-size: 32px;
}

.sub-header {
    color: #f4f4f4;
    font-size: 18px;
    margin-top: 10px;
}

section {
    padding: 20px 20px;
    text-align: center;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    max-width: 1200px;
    padding: 5px;
    gap: 10px;
}

.image-section {
    flex: 1;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.visual-image {
    width: 70%;
    height: auto;
    border-radius: 8px;}

.description-section {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    color: #0bacf1;
    margin-bottom: 10px;
}

h3 {
    color: #ff007f;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px 0;
    border-bottom: 1px solid #444;
}

figcaption {
    margin-top: 10px;
    font-size: 14px;
    color: #ddd;
}

.findings, .tools-list, .data-summary {
    text-align: left;
    flex: 1;
}
.visuals{
    flex: 0.5;
}
.conclusion-section {
    background-color: rgba(30, 30, 30, 0.9);
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 30px;
}

.pdf-section {
    text-align: center;
    margin: 20px auto;
}

.pdf-link {
    color: #ff007f;
    font-weight: bold;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #111;
    color: #fff;
}



/* Medium devices (tablets) */
@media screen and (max-width: 800px) {
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    p{
        font-size:12px;
    }
    li{
        font-size:  12px;
    }
    a{
        font-size: 16px;
     }
     .image-section{
        flex: 1;
    }
    .description-section{
        flex: 1.5;
    }
    .tools-list{
        flex: 1;
    }
    .data-summary{
        flex: 1;
    }
    section{
        padding: 0px;
    }
    .findings{
        flex: 1.5;
    }
    .visuals{
        flex:1;

    }
    ul li{
        padding: 3px;
    }
    strong{
        font-size: 8.5px;

    }
    .visual-image{
        width: 70%;
    }
    figcaption{
        font-size: 10px;
    }

}

/* Small devices (phones) */
@media screen and (max-width: 500px) {
    h1 {
        font-size: 14px;
    }
    p{
        font-size: 8px;
    }
    h2 {
        font-size: 8px;
    }
    h3 {
        font-size: 8px;
    }
    li{
        font-size: 8px;
    }
    a{
        font-size: 10px;
    }
    .image-section{
        flex: 1;
    }
    .description-section{
        flex: 1.5;
    }
    .tools-list{
        flex: 1;
    }
    .data-summary{
        flex: 1;
    }
    section{
        padding: 0px;
    }
    .findings{
        flex: 1.5;
    }
    .visuals{
        flex:1;

    }
    ul li{
        padding: 3px;
    }
    strong{
        font-size: 8.5px;

    }
    figcaption{
        font-size: 7px;
    }
}
