body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.991);
    color: #f4f4f4;
    padding-bottom: 60px;
    transition: background-color 0.5s;
    width: 95%;
    

}
h2{
    color: #0bacf1;
    font-size: 30px;
}

header {
    background-color: rgba(0, 0, 0, 0.9);
    color: #f4f4f4;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 2px solid #ff007f;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #10b4f0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #ff007f;
    transform: scale(1.1);
}

section {
    padding: 20px 0px;
    text-align: center;
    background: rgba(0, 0, 0, 0.991);
    border-radius: 0px;
    max-width: 100%;
    position: relative;
    transition: all 0.5s ease-in-out;
    margin-left: 5%;
}

#home {
    margin-top: 60px;
    background: linear-gradient(to right, #968a8d49, #0bacf1);
   height:10em ;
}  
#home h1{
    color: aqua;
    
}

.profile-container {
    display: flex;
    text-align: center;
    margin: 20px auto;
    flex-direction: row;
    justify-content: space-between;
}
 .left-part{
    flex: 1;
    margin-left: 10px ;
 }
 .right-part{
    flex: 1.5;
    text-align: center;
 }

.profile-pic {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 3px solid #4cb1ca;
    box-shadow: 0 0 15px rgba(255, 0, 127, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

.profile-pic:hover {
    transform: scale(1.1) rotate(10deg);
    box-shadow: 0 0 30px rgba(135, 195, 31, 0.7);
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill-item {
    background: #222;
    border: 1px solid #13c6e2;
    padding: 10px 20px;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

.skill-item:hover {
    background-color: #ff007f;
    transform: scale(1.1);
}

.portfolio-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}
.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 20px;
    border-radius: 18px;
    transition: transform 0.3s, box-shadow 0.3s;
    background: #131414;
    border: 1px solid #0febeb;
    max-width: 70%;
}

.portfolio-item.left {
    margin-left: 0;
    margin-right: auto;
}

.portfolio-item.right {
    margin-right: 0;
    margin-left: auto;
    flex-direction: row-reverse;
}

.portfolio-item img {
    width: 100px; /* Resized to show just an overview */
    height: auto;
    border-radius: 5px;
    margin-left: 20em;
}

.portfolio-item.left img {
    margin-left: 50%;
    margin-right: 0;
}

.portfolio-item.right img {
    margin-right: 50%;
    margin-left: 0;
}

.portfolio-item .portfolio-content {
    max-width: 60%;
}

.portfolio-item h3 {
    margin: 10px 0;
    color: #18bae6;
}

.portfolio-item p {
    margin: 10px 0;
    color: #ddd;
}

.portfolio-item a {
    text-decoration: none;
    color: #e3d218;
    font-weight: bold;
}

.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(255, 0, 127, 0.7);
}

.portfolio-grid::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background: #444;
    transform: translateX(-50%);
}

.education-item {
    background-color: #131414;
    padding: 15px;
    border-radius: 8px;
    margin: 15px 0;
    text-align: left;
}

.education-item h3 {
    color:aqua;
}

.education-item p {
    color: #ddd;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-icon img {
    width: 100%;
    height: auto;
}

.social-icon:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 15px rgba(255, 0, 127, 0.7);
}

footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #222;
    color: #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #ff007f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ff7f00;
    transform: scale(1.1);
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222;
    color: #f4f4f4;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #ff007f;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s, transform 0.3s;
}

input[type="submit"]:hover {
    background-color: #ff7f00;
    transform: scale(1.05);
}
/* Large devices (laptops/desktops) */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    a{
        font-size: 18px;
    }
    .section{
      padding: 30px ;  
    }
    .right-part{
        align-items: center;
        margin-left: 20px;
    }
}
/* Medium devices (tablets) */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    p{
        font-size:12px;
    }
    li{
        font-size:  12px;
    }
    a{
        font-size: 16px;
    }
    .skills-list{
        font-size: 12px;
    }
    .left-part{
        flex: 0.5;
    }
    .right-part{
        flex: 2;
    } 
   .profile-pic {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 3px solid #00b7ff;
    box-shadow: 0 0 15px rgba(255, 0, 127, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

.profile-pic:hover {
    transform: scale(1.1) rotate(10deg);
    box-shadow: 0 0 30px rgba(165, 212, 7, 0.7);
}
#home{
    height: 140px;
}
button{
    font-size: 16px;
}

}

/* Small devices (phones) */
@media screen and (max-width: 500px) {
    h1 {
        font-size: 14px;
    }
    p{
        font-size: 9px;
    }
    h2 {
        font-size: 12px;
    }
    h3 {
        font-size: 10px;
    }
    li{
        font-size: 8px;
    }
    a{
        font-size: 10px;
    }
    .skills-list{
        font-size: 8px;
    }
    .left-part{
        flex: 0.5;
    }
    .right-part{
        flex: 2;
    } 
   .profile-pic {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 3px solid #00b7ff;
    box-shadow: 0 0 15px rgba(255, 0, 127, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

.profile-pic:hover {
    transform: scale(1.1) rotate(10deg);
    box-shadow: 0 0 30px rgba(165, 212, 7, 0.7);
}
#home{
    height: 100px;
}
button{
    font-size: 10px;
}
}
